
@media(max-width:992px) {
    .nav_item {
        font-size: 30px !important;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}

@media(max-width:768px) {
    .section__title {
        font-size: 30px;
    }

    .section__text {
        font-size: 20px;
        text-indent: 30px;
        line-height: 25px;
        letter-spacing: 2px;
    }

    .main__answer {
        font-size: 30px !important;
    }

    .section__main_inner {
        position: relative;
    }

    .section__main_description::after {
        content: "";
        background: url("img/main_image.png");
        background-size: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }

}
